:root {
    --solid: 100%;
    --transparent: 20%;
    /* ### Primary */
    --Light-red: hsl(0, 100%, 67%);
    --transparent-light-red: hsla(0, 100%, 67%, 20%); 
    --Orangey-yellow: hsl(39, 100%, 56%);
    --transparent-orangey-yellow: hsla(39, 100%, 56%, 20%);
    --Green-teal: hsl(166, 100%, 37%);
    --transparent-green-teal: hsla(166, 100%, 37%, 20%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --transparent-cobalt-blue: hsla(234, 85%, 45%, 20%);
    /* ## Gradients */
            /* background colors*/
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
            /* circle colors */
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
    /* ### Neutral */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

html, body {
    font-family: 'Hanken Grotesk', sans-serif;
}
p {
    font-size: 18px;
    margin: 0px;
    font-weight: 500;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin: 48px 0px 48px 0px;
}
.container-item {
    width: 320px;
    height: auto;
}
.result-page {
    border-radius: 10px;
    background-image: linear-gradient( var(--Light-slate-blue), var(--Light-royal-blue));
    color: var(--White);
    text-align: center;
}
.summary-page {
    margin: 24px;
    font-size: 18px;
}
.summary-header {
    color: var(--Dark-gray-blue)
}
.result-header {
    font-size: 20px;
    text-align: center;
}
.result-content {
    height: 100%;
    text-align: center;
    padding: 24px;
    margin-top: 12px;
    margin-bottom: 24px;
}
.summary-items {
    padding-bottom: 24px;
}
.ranking {
    color: var(--Dark-gray-blue);
    float: right;
    padding-right: 12px;
}
.circle {
    margin: 32px 40px 16px 56px;
    align-self: center;
    height: 164px;
    max-width: 164px;
    border-radius: 50%;
    background-image: linear-gradient(var(--Violet-blue), var(--Persian-blue));
}
h1 {
    font-size: 3.5rem;
    margin: 0px;
    padding-top: 36px;
}
h2 {
    font-size: 2em;
    padding: 6px 0px 6px 0px;
}
.box {
    height: 32px;
    padding: 12px 0px 12px 0px;
    border-radius: 6px;
    margin: 12px 0 12px 0px;
}
.light-lavender {
    color: var(--Light-lavender);
}
.fine-text {
    font-size: 18px;
}
.reaction {
    padding-left: 12px;
    color: var(--Light-red);
    background-color: var(--transparent-light-red);
}

.memory {
    padding-left: 12px;
    color: var(--Orangey-yellow);
    background-color: var(--transparent-orangey-yellow);
}

.verbal {
    padding-left: 12px;
    color:var(--Green-teal);
    background-color: var(--transparent-green-teal);
}

.visual {
    padding-left: 12px;
    color: var(--Cobalt-blue);
    background-color: var(--transparent-cobalt-blue);
}

.button {
    border-radius: 5rem;
    background-color: var(--Dark-gray-blue);
    color: white;
    width: 100%;
    height: 56px;
    font-size: 18px;
    margin-top: 12px;
}

.button:hover{
    background-color: var(--Light-royal-blue);
    cursor:pointer;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }